[Unit]
Description=node dns service
After=network.target
StartLimitIntervalSec=0
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=public
ExecStart=/usr/bin/env node /home/public/node-dns/node-dns/dns.js

[Install]
WantedBy=multi-user.target

# sudo cp ./node-dns/service/node-dns.service /etc/systemd/system/node-dns.service
# sudo systemctl enable node-dns
# sudo systemctl restart node-dns
# journalctl -u node-dns -f

